.card-set__text {
  position: relative;
  overflow: hidden;
}
.top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 77px;
  padding-right: 24px;
  padding-bottom: 77px;
  padding-left: 24px;
  @media screen and(min-width: 768px) {
    padding-top: 49px;
    padding-right: 24px;
    padding-bottom: 77px;
    padding-left: 24px;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;
  }

  font-style: normal;
  font-weight: 400;
  @media screen and(max-width: 479px) {
    padding: 20px;
    font-size: 15px;
    line-height: 1.26;
  }
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
